
.ipynb_checkpoints/temp-1-checkpoint.ipynb
data/alt.aux.xml
data/amphibians.tif
data/arc.dir
data/arc0000.dat
data/arc0000.nit
data/alt.tif
.ipynb_checkpoints/Layered-checkpoint.ipynb
data/pfunique2.csv
.ipynb_checkpoints/Working_Rasterio-checkpoint.ipynb
.ipynb_checkpoints/Working_Rasterio-checkpoint.ipynb
.ipynb_checkpoints/Working_Rasterio-checkpoint.ipynb
